<div>
  <h2 id="page-heading" data-cy="WeekDayDateHeading">
    <span jhiTranslate="healthUnitApp.weekDayDate.home.title">Week Day Dates</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="healthUnitApp.weekDayDate.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-week-day-date"
        [routerLink]="['/week-day-date/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="healthUnitApp.weekDayDate.home.createLabel"> Create a new Week Day Date </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="weekDayDates?.length === 0">
    <span jhiTranslate="healthUnitApp.weekDayDate.home.notFound">No Week Day Dates found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="weekDayDates && weekDayDates.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dayValue">
            <div class="d-flex">
              <span jhiTranslate="healthUnitApp.weekDayDate.dayValue">Day Value</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dayName">
            <div class="d-flex">
              <span jhiTranslate="healthUnitApp.weekDayDate.dayName">Day Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dayDate">
            <div class="d-flex">
              <span jhiTranslate="healthUnitApp.weekDayDate.dayDate">Day Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let weekDayDate of weekDayDates; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/week-day-date', weekDayDate.id, 'view']">{{ weekDayDate.id }}</a>
          </td>
          <td>{{ weekDayDate.dayValue }}</td>
          <td>{{ weekDayDate.dayName }}</td>
          <td>{{ weekDayDate.dayDate }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/week-day-date', weekDayDate.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">عرض</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/week-day-date', weekDayDate.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">تعديل</span>
              </button>

              <button type="submit" (click)="delete(weekDayDate)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">حذف</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="weekDayDates && weekDayDates.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
