<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="unitImgs">
      <h2 data-cy="unitImgsDetailsHeading"><span jhiTranslate="healthUnitApp.unitImgs.detail.title">Unit Imgs</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ unitImgs.id }}</span>
        </dd>
        <dt><span jhiTranslate="healthUnitApp.unitImgs.fileDescription">File Description</span></dt>
        <dd>
          <span>{{ unitImgs.fileDescription }}</span>
        </dd>
        <dt><span jhiTranslate="healthUnitApp.unitImgs.img">Img</span></dt>
        <dd>
          <div *ngIf="unitImgs.img">
            <a (click)="openFile(unitImgs.img, unitImgs.imgContentType)" jhiTranslate="entity.action.open">فتح</a>
            {{ unitImgs.imgContentType }}, {{ byteSize(unitImgs.img) }}
          </div>
        </dd>
        <dt><span jhiTranslate="healthUnitApp.unitImgs.unit">Unit</span></dt>
        <dd>
          <div *ngIf="unitImgs.unit">
            <a [routerLink]="['/units', unitImgs.unit.id, 'view']">{{ unitImgs.unit.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">رجوع</span>
      </button>

      <button type="button" [routerLink]="['/unit-imgs', unitImgs.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">تعديل</span>
      </button>
    </div>
  </div>
</div>
